@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
  --profile-text: #101828;
  --link-text: #101828;
  --link-bcg: #EAECF0;
  --link-bcg-hover: #D0D5DD;
  --link-visited: 1px solid #D0D5DD;
}

h1{
  font-weight: 600;
  font-size: 1.125rem;
}

a{
  font-weight: 500;
  font-size: 14px;
}

@media screen and () {
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#links {
  display: flex;
  flex-direction: column;
}
